resources/*
.venv/*
.vscode/*
.DS_store
torch/data/*
allnew/svm/data.csv

*.pyc
*.zip
*.pkl
*.egg-info

allnew/svm/*.csv
allnew/svm/*.mat
allnew/svm/data_sin/*.mat
allnew/svm/data/*.mat
allnew/svm/data2/*.mat
allnew/svm/data3/*.mat
allnew/svm/data4/*.mat
SB3/A2C/A2C_0/*
SB3/A2C_v2/A2C_0/*
SB3/merged/A2C_0/*
SB3/merged/SAC_0/*
SB3/SAC/SAC_0/*
SB3/PPO/PPO_0/*
SB3/TorquePPO/*

rllib/bongEnv/bongSnake/*.txt

science-contest2022/DynamixelSDK/*

#ROS builds
GD_tor/horcrux_ws/build/*
GD_tor/horcrux_ws/install/*
GD_tor/horcrux_ws/log/*

#Model assets
GD_tor/model/assets/sand88_0comp.png
GD_tor/model/assets/sand88_15comp.png

# Trained agents
GD_tor/learning/agents/*